mixin modal--text(additionalClass)
  .modal#modal-text(class=additionalClass)
    h3.modal__header Собственный бизнес на прочном фундаменте
    h4.modal__subheader Бизнес под ключ
    p.modal__paragraph Для запуска собственного бизнеса вам понадобится вам понадобится идея и инвестиции: закупка товара или приобретение средств производства, аренда офиса/склада, заработная плата сотрудникам, логистика, реклама.. Размер стартовых вложений в традиционном бизнесе стартует в среднем от 3 млн. руб. При этом возврат инвестиций наступит не раньше чем через 1.5 года.. Но, к сожалению, большая часть новых проектов закрывается в первый год.
    p.modal__paragraph Люди хотят иметь бизнес, но чаще получается что бизнес “имеет” бизнесменов. Работа без отдыха и выходных, личная ответственность за всё и всех, финансовая нагрузка. Пассивный доход, за которым люди приходят в линейный бизнес в 90% случаях невозможен.
    p.modal__paragraph Gloryon – это бизнес “под ключ” с налаженными процессами – производство качественного продукта, логистика, инфраструктура, бухгалтерия, кадры и т.д.“Ключи” от своего дела вы получаете совершенно бесплатно и сразу после активации партнерского соглашения. А план вознаграждений с одними из самых высоких выплат в индустрии позволяет получать высокий активный доход и быстро сформировать остаточный.
    h4.modal__subheader Работа в найме
    p.modal__paragraph Для запуска собственного бизнеса вам понадобится вам понадобится идея и инвестиции: закупка товара или приобретение средств производства, аренда офиса/склада, заработная плата сотрудникам, логистика, реклама.. Размер стартовых вложений в традиционном бизнесе стартует в среднем от 3 млн. руб. При этом возврат инвестиций наступит не раньше чем через 1.5 года.. Но, к сожалению, большая часть новых проектов закрывается в первый год.
    p.modal__paragraph Люди хотят иметь бизнес, но чаще получается что бизнес “имеет” бизнесменов. Работа без отдыха и выходных, личная ответственность за всё и всех, финансовая нагрузка. Пассивный доход, за которым люди приходят в линейный бизнес в 90% случаях невозможен.
    p.modal__paragraph Gloryon – это бизнес “под ключ” с налаженными процессами – производство качественного продукта, логистика, инфраструктура, бухгалтерия, кадры и т.д.“Ключи” от своего дела вы получаете совершенно бесплатно и сразу после активации партнерского соглашения. А план вознаграждений с одними из самых высоких выплат в индустрии позволяет получать высокий активный доход и быстро сформировать остаточный.
    
    
    
mixin modal--form(additionalClass)
  .modal#modal-form(class=additionalClass)
    h3.modal__header оставьте заявку
    h4.modal__subheader и станьте нашим партнером
    form.modal__form.form(action="#", method="POST")
      .form__item
        input.input.input--error.input--green(type="text", placeholder="ваша фамилия")
        label.form__error.form__error--black Обязательное поле
      .form__item
        input.input.input--green(type="text", placeholder="ваше имя")
      .form__item
        input.input.input--green(type="text", placeholder="электронная почта")
      .form__item
        input.input.input--green(type="text", placeholder="+7 ___-___-__-__")
      .form__item
        input.input.input--green(type="text", placeholder="Город проживания")
      button.form__button.form__button--green Отправить
    
    
    
mixin modal--success(additionalClass)
  .modal.modal--success#modal-success(class=additionalClass)
    h2.modal__success-header спасибо<br>за заявку
    p.modal__success-subheader скоро ваш наставник свяжется с вами
    button.button.modal__close отлично! буду ждать