.modal {
  display: none;
  width: 78rem;
  padding: 7rem;
  max-height: 90vh;
  
  &__header {
    
  }
  
  &__subheader {
    margin: 3.5rem 0;
  }
  
  &__paragraph {
    line-height: 2.6rem;
    
    &+& {
      margin-top: 2.6rem;
    }
  }
  
  &__form {
    
  }
  
  &__success-header {
    text-align: center;
    letter-spacing: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 10.4rem;
    color: #222;
    font-size: 9.7rem;
    font-weight: 300;
    text-transform: uppercase;
    justify-content: center;
  }
  
  &__success-subheader {
    margin: 5.5rem 0;
    color: #222;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .6rem;
    text-align: center;
  }
  
  &--success {
    flex-direction: column;
    align-items: center;
    width: 118rem;
  }
}