h1 {
  font-size: 9.7rem;
  text-transform: uppercase;
  color: #222;
}

h2 {
  font-size: 9.7rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #222;
}

h3 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 4.4rem;
  text-transform: uppercase;
  color: #222;
}

h4 {
	color: #080826;
	font-size: 2.5rem;
	font-weight: 500;
	text-transform: uppercase;
}

p {
  color: #222;
  font-family: @font-first;
  font-size: 1.8rem;
  font-weight: 300;
}

ul {
  
  li {
    color: #222;
    font-family: @font-first;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2rem;
  }
}

ol {
  
  li {
    color: #222;
    font-family: @font-first;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2rem;
  }
}

table {
  border: .1rem solid #e1e1e1;
}

th {
  border: .1rem solid #e1e1e1;
  padding: 1rem;
}

td {
  border: .1rem solid #e1e1e1;
  padding: 1rem;
}

a {
  color: #222;
}