.button {
  border-radius: 3.2rem;
  border: .3rem solid @color-second;
  display: block;
  text-align: center;
  line-height: 6rem;
  color: @color-second;
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
  background: #fff;
  margin: 0 auto;
  padding: 0 6.5rem;
  cursor: pointer;
  .transition;

  &:hover {
    background: @color-second;
    color: #fff;
  }
  
  &:focus {
    outline: none;
  }
  
  &--join {
    margin-top: 4rem;
    background: transparent;
    text-decoration: none;
    letter-spacing: .3rem;
  }
}
