/* Fullpage */

.fp-slidesNav {
  opacity: 0;
  transition: all 1s linear;
  transition-delay: 1.5s;
  
  ul {
    display: flex;
    align-items: center;
    
    li {
      width: auto;
      height: auto;
      display: block;
      margin: 0;
      width: 3rem;
      height: .4rem;
      
      &:hover {
        
        a {
          
          span {
            width: 3rem;
            height: .4rem;
            margin: 0;
          }
          
          &.active {
            
            span {
              width: 3rem;
              height: .4rem;
              margin: 0;
              border-radius: 0;
            }
          }
        }
      }
      
      &+li {
        margin-left: .9rem;
        margin-top: 0;
      }
      
      a {
        display: block;
        
        &.active {
          
          span {
            display: block;
            width: 3rem;
            height: .4rem;
            background: #ececec;
            border-radius: 0;
            margin: 0;
            background: @color-second;
          }
        }
        
        span {
          display: block;
          width: 3rem;
          height: .4rem;
          background: #ececec;
          border-radius: 0;
          position: static;
          margin: 0;
        }
      }
    }
  }
  
  &--visible {
    opacity: 1;
  }
}

.fp-slides {
  z-index: auto;
}

.slide {
  position: relative;
}


/* Perfect Scrollbar */


.ps > .ps__scrollbar-y-rail {
//  opacity: 1!important;
  opacity: 1;
//  height: 100%;
//  display: block;
}

.ps > .ps__scrollbar-x-rail {
  opacity: 1;
  background-color: #dbdbdb!important;
  left: 0;
  bottom: 2.6rem!important;
  border-radius: .7rem;
  box-shadow: inset 0 .1rem .2rem #a3a3a3;
  transform: scaleX(.8);
  
  .timeline__scroll-year, &:before, &:after {
    color: #222;
    font-size: 1.4rem;
    font-weight: 300;
    bottom: -1.8rem;
    position: absolute;
  }
}

.ps > .ps__scrollbar-x-rail > .ps__scrollbar-x {
  background: @color-first;
  border-radius: .7rem;
  height: 1.4rem;
  cursor: pointer;
  top: .1rem;
}

.ps > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x, .ps > .ps__scrollbar-x-rail:active > .ps__scrollbar-x {
  height: 1.4rem;
}

.ps:hover > .ps__scrollbar-x-rail, .ps:hover > .ps__scrollbar-y-rail {
  opacity: 1;
}

.ps:hover > .ps__scrollbar-x-rail:hover {
  opacity: 1;
}

.ps:hover > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x {
  background: @color-first;
}




/* Fancybox */

.fancybox-close-small {
  width: 6rem;
  height: 6rem;
  background: @color-first url(../img/icon-cross--white.svg) no-repeat center;
  background-size: 2rem;
  .transition;
  
  &:hover {
    background: #ff3c44 url(../img/icon-cross--white.svg) no-repeat center;
  }
  
  &:after {
    display: none;
  }
}