mixin timeline(additionalClass)
  .timeline(class=additionalClass)
    .timeline__content
      .timeline__item
        .timeline__item-year 2000 Г.
        a.timeline__item-header(href="#") электронный офис
        p.timeline__item-content Gloryon – первая компания в индустрии, предложившая партнерам вести бизнес в интернет через электронный офис. Инновационная бизнес-модель Gloryon – интернет + прямые продажи.
      .timeline__item
        .timeline__item-year 2001 Г.
        a.timeline__item-header(href="#") линия radonta
        p.timeline__item-content Уникальные зубные пасты линии Radonta созданы с учетом биоритмов человека. Эффективность продуктов для профилактики и борьбы с болезнями ротовой полости подтверждена клиничес...
      .timeline__item
        .timeline__item-year 2002 Г.
        a.timeline__item-header(href="#") интернет-магазин
        p.timeline__item-content Gloryon дает партнерам возможность создать за 15 минут персональный работающий сайт со встроенным интернет-магазином. 
      .timeline__item
        .timeline__item-year 2003 Г.
        a.timeline__item-header(href="#") интернет-магазин
        p.timeline__item-content Gloryon дает партнерам возможность создать за 15 минут персональный работающий сайт со встроенным интернет-магазином. 
      .timeline__item
        .timeline__item-year 2004 Г.
        a.timeline__item-header(href="#") интернет-магазин
        p.timeline__item-content Gloryon дает партнерам возможность создать за 15 минут персональный работающий сайт со встроенным интернет-магазином. 
      .timeline__item
        .timeline__item-year 2005 Г.
        a.timeline__item-header(href="#") интернет-магазин
        p.timeline__item-content Gloryon дает партнерам возможность создать за 15 минут персональный работающий сайт со встроенным интернет-магазином. 
      .timeline__item
        .timeline__item-year 2006 Г.
        a.timeline__item-header(href="#") интернет-магазин
        p.timeline__item-content Gloryon дает партнерам возможность создать за 15 минут персональный работающий сайт со встроенным интернет-магазином. 
      .timeline__item
        .timeline__item-year 2007 Г.
        a.timeline__item-header(href="#") интернет-магазин
        p.timeline__item-content Gloryon дает партнерам возможность создать за 15 минут персональный работающий сайт со встроенным интернет-магазином. 
      .timeline__item
        .timeline__item-year 2008 Г.
        a.timeline__item-header(href="#") интернет-магазин
        p.timeline__item-content Gloryon дает партнерам возможность создать за 15 минут персональный работающий сайт со встроенным интернет-магазином. 
      .timeline__item
        .timeline__item-year 2009 Г.
        a.timeline__item-header(href="#") интернет-магазин
        p.timeline__item-content Gloryon дает партнерам возможность создать за 15 минут персональный работающий сайт со встроенным интернет-магазином. 
      .timeline__item
        .timeline__item-year 2010 Г.
        a.timeline__item-header(href="#") интернет-магазин
        p.timeline__item-content Gloryon дает партнерам возможность создать за 15 минут персональный работающий сайт со встроенным интернет-магазином. 
      .timeline__item
        .timeline__item-year 2011 Г.
        a.timeline__item-header(href="#") интернет-магазин
        p.timeline__item-content Gloryon дает партнерам возможность создать за 15 минут персональный работающий сайт со встроенным интернет-магазином. 
      .timeline__item
        .timeline__item-year 2012 Г.
        a.timeline__item-header(href="#") интернет-магазин
        p.timeline__item-content Gloryon дает партнерам возможность создать за 15 минут персональный работающий сайт со встроенным интернет-магазином. 
      .timeline__item
        .timeline__item-year 2013 Г.
        a.timeline__item-header(href="#") интернет-магазин
        p.timeline__item-content Gloryon дает партнерам возможность создать за 15 минут персональный работающий сайт со встроенным интернет-магазином. 
      .timeline__item
        .timeline__item-year 2014 Г.
        a.timeline__item-header(href="#") интернет-магазин
        p.timeline__item-content Gloryon дает партнерам возможность создать за 15 минут персональный работающий сайт со встроенным интернет-магазином. 
      .timeline__item
        .timeline__item-year 2015 Г.
        a.timeline__item-header(href="#") интернет-магазин
        p.timeline__item-content Gloryon дает партнерам возможность создать за 15 минут персональный работающий сайт со встроенным интернет-магазином. 
      .timeline__item
        .timeline__item-year 2016 Г.
        a.timeline__item-header(href="#") интернет-магазин
        p.timeline__item-content Gloryon дает партнерам возможность создать за 15 минут персональный работающий сайт со встроенным интернет-магазином. 
      .timeline__item
        .timeline__item-year 2017 Г.
        a.timeline__item-header(href="#") интернет-магазин
        p.timeline__item-content Gloryon дает партнерам возможность создать за 15 минут персональный работающий сайт со встроенным интернет-магазином.
      .timeline__item
        .timeline__item-year.timeline__item-year--gray 2018 Г.
        .timeline__item-header Самое интересное только начинается...
    .timeline__controls
      .timeline__controls-year 2000 г.
      .timeline__controls-year 2008 г.
      .timeline__controls-year 2017 г.