.timeline {
  margin-top: 5rem;
  margin-bottom: 3rem;
  
  &__content {
    display: flex;
    overflow: hidden;
    position: relative;
//    width: 100vw;
    width: calc(100vw - 8rem);
    overflow: visible;
    padding-bottom: 16.6rem;
    
    @media screen and (max-width: 1700px) {
      width: 100%;
    }
  }
  
  &__item {
    max-width: 30rem;
    position: relative;
    flex: 0 0 auto;
    
    &:first-child {
      margin-left: 37rem;
    }
    
    &:nth-last-of-type(3) {
      max-width: 67rem;
      padding-right: 37rem;
    }
    
    &:before {
      content: '';
      display: block;
      width: 35.5rem;
      height: 3.9rem;
      background: url(../img/timeline-year-shadow.png) no-repeat;
      background-size: contain;
      position: absolute;
      bottom: -5.6rem;
      left: -9.6rem;
    }
    
    &+& {
      margin-left: 20rem;
      
      &:after {
        content: '';
        display: block;
        width: 18.9rem;
        height: .3rem;
        background: #222;
        position: absolute;
        left: -21rem;
        top: 2.2rem;
      }
    }
  }
  
  &__item-year {
    color: #222;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 6.7rem;
    margin-bottom: 2rem;
    
    &--gray {
      color: #bcbcbc;
    }
  }
  
  &__item-header {
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 2.4rem;
    letter-spacing: .15rem;
  
    &:hover {
      text-decoration: none;
    }
  }
  
  &__item-content {
    margin-top: 2rem;
    color: #222;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 300;
  }
  
  &__controls {
    display: flex;
    justify-content: space-between;
    max-width: 130rem;
    padding-right: 10rem;
    margin: 0 auto;
    
    @media screen and (max-width: 1700px) {
      max-width: 90rem;
      padding-right: 0;
    }
  }
  
  &__controls-year {
    color: #222;
    font-size: 1.4rem;
    font-weight: 300;
  }
}