mixin opportunities(additionalClass)
  .opportunities.section.section--distributed.section--tall(class=additionalClass)
    .opportunities__content
      .opportunities__content-wrapper
        .section__top
          p.caption.reveal.reveal--4 в твоих интересах
          h2.title.opportunities__title
            span.title__first.reveal.reveal--2 O
            span.title__content.reveal.reveal--3 pportunities
          p.subheader.reveal.reveal--4 Возможность нести людям здоровье, красоту и долголетие
        .section__bottom.opportunities__bottom.reveal.reveal--4
          h3.content-header В партнерстве с Gloryon перед вами <br>открывается возможность быть причастным <br>к благородной миссии
          p.caption.opportunities__bottom-caption нести людям здоровье, красоту, благополучие
          a.link(href="#") узнать больше
          a.button.button--join(href="#") Присоединиться
          ul.opportunities__logos-wrapper
            li.opportunities__logo
            li.opportunities__logo
            li.opportunities__logo
            li.opportunities__logo
            li.opportunities__logo
            li.opportunities__logo