.opportunities {
  display: block;
  
  &__content {
    position: relative;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  &__content-wrapper {
    background: url(../img/opportunities-bg.jpg) no-repeat left -10rem top;
    background-size: cover;
    padding: 8.5rem 0 5.5rem;
    
    @media screen and (max-width: 1700px) {
      background-position: left -20rem top;
    }
    
    @media screen and (max-width: 1500px) {
      background-position: left -30rem top;
    }
    
    @media screen and (max-width: 1400px) {
      background-position: left -33rem top;
    }
  }
  
  &__title {
    margin: 3rem 0 1rem;
  }
  
  &__bottom {
    margin-top: 47rem;
  }
  
  &__bottom-caption {
    margin: 2rem 0 3rem;
  }
  
  &__assortiment {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  &__logos-wrapper {
    display: flex;
    align-items: center;
    margin-top: 36.5rem;
  }
  
  &__logo {
    width: 18rem;
    height: 7.2rem;
    background: #ececec;
    list-style: none;
    
    &+& {
      margin-left: 2rem;
    }
  }
}