.input {
  width: 50rem;
  height: 5rem;
  border-radius: 1rem;
  background: #fff;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #222;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  border: .2rem solid #fff;
    
  @media screen and (max-height: @screen-h-md) {
    height: 4rem;
  }
  
  &:focus {
    outline: none;
    border-color: #9ca7ff;
  }
  
  &::-webkit-input-placeholder {
    color: @color-second;
  }
  
  &::-moz-placeholder {
    color: @color-second;
  }
  
  &:-ms-input-placeholder {
    color: @color-second;
  }
  
  &--green {
    border: .1rem solid @color-second;
  }
  
  &--success {
    border-color: #70e156;
    color: #51a93d;
    background: #fff url(../img/icon-check--green.svg) no-repeat right 2rem center;
    background-size: 1.4rem 1.6rem;
  }
  
  &--error {
    border-color: @color-first;
    color: @color-first;
  
    &::-webkit-input-placeholder {
      color: @color-first;
    }

    &::-moz-placeholder {
      color: @color-first;
    }

    &:-ms-input-placeholder {
      color: @color-first;
    }
  }
}