.subheader {
  color: #222;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.9rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .6rem;
    
  @media screen and (max-height: @screen-h-md) {
    font-size: 1.4rem;
  }
  
  &--white {
    color: #fff;
  }
}
