mixin guide(additionalClass)
  .guide.section.section--tall(class=additionalClass)
    .guide__content
      p.caption.reveal.reveal--4 в твоих интересах
      h2.title.guide__title
        span.title__first.reveal.reveal--2 G
        span.title__content.reveal.reveal--3 uide
      p.subheader.reveal.reveal--4 Наставник, заинтересованный <br>в вашем успехе
      .reveal.reveal--4
        +guide-content('guide__guide-content')