.guide {
  background: #f4f4f4;
  
  &__content {
    padding-top: 8rem;
    padding-bottom: 4.5rem;
  }
  
  &__title {
    margin: 7rem 0 2.5rem;
  }
  
  &__guide-content {
    margin-top: 6rem;
    
    .guide-content__contacts {
      margin-top: -17.9rem;
    }
  }
}
