.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto!important;
  min-height: 100vh;
    
  @media screen and (orientation: portrait) {
    min-height: 60vh;
    padding: 0 1rem;
  }
  
  &--distributed {
    justify-content: space-between;
    
    .fp-scroller {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
  }
  
  &__top {
    
  }
  
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &--tall {
    display: block;
    
    .fp-scrollable {
      height: 100%;
    }
    
    .fp-scroller {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
