.title {
  font-size: 9.7rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #222;
  text-align: center;
  letter-spacing: 3rem;
  line-height: 11.4rem;
    
  @media screen and (max-height: @screen-h-md) {
    font-size: 7rem;
  }
    
  @media screen and (orientation: portrait) {
    font-size: 8rem;
  }
  
  &:first-letter {
    color: @color-first;
    opacity: 0;
  }
  
  &--white {
    color: #fff;
  }
  
  &--grayscale {
    
    &:first-letter {
      color: inherit;
    }
  }
}
