mixin socials(additionalClass)
  .socials(class=additionalClass)
    a.socials__item.socials__item--fb(href="#")
    a.socials__item.socials__item--vk(href="#")
    a.socials__item.socials__item--telegram(href="#")
    a.socials__item.socials__item--instagram(href="#")
    a.socials__item.socials__item--map(href="#")
    a.socials__item.socials__item--whatsapp(href="#")
    a.socials__item.socials__item--ok(href="#")