.socials {
  display: flex;
  align-items: center;
  
  &__item {
    width: 3rem;
    height: 3rem;
    display: block;
    .transition;
    
    &:hover {
      opacity: .8;
    }
    
    &+& {
      margin-left: 2rem;
    }
    
    &--fb {
      background: url(../img/icon-fb.svg) no-repeat center;
      background-size: contain;
    }
    
    &--vk {
      background: url(../img/icon-vk.svg) no-repeat center;
      background-size: contain;
    }
    
    &--telegram {
      background: url(../img/icon-telegram.png) no-repeat center;
      background-size: contain;
    }
    
    &--instagram {
      background: url(../img/icon-instagram.svg) no-repeat center;
      background-size: contain;
    }
    
    &--map {
      background: url(../img/icon-map.png) no-repeat center;
      background-size: contain;
    }
    
    &--whatsapp {
      background: url(../img/icon-whatsapp.png) no-repeat center;
      background-size: contain;
    }
    
    &--ok {
      background: url(../img/icon-ok.png) no-repeat center;
      background-size: contain;
    }
  }
}
