.business {
  padding-top: 5rem;
  background: #f4f4f4;
  position: relative;
  padding-right: 14rem;
  
  &__title {
    margin: 5rem 0 2.2rem;
  }
  
  &__bottom {
    
    @media screen and (max-height: @screen-h-lg) {
      margin-top: 5rem;
    }
  }
  
  &__ways-wrapper {
    display: flex;
  }
  
  &__way {
    background: #000;
    width: 50%;
    height: 73.7rem;
    display: flex;
    flex-direction: column;
    padding-top: 28rem;
    position: relative;
    min-height: 72rem;
    
    @media screen and (max-height: @screen-h-lg) {
      padding-top: 20rem;
      height: auto;
      padding-bottom: 5rem;
    }
    
    @media screen and (max-height: @screen-h-md) {
      padding-top: 20rem;
      height: auto;
      padding-bottom: 20rem;
    }
    
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba(0, 0, 0, .4), transparent)
    }
    
    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 5rem;
    
      @media screen and (max-height: @screen-h-lg) {
        padding-left: 5rem;
        padding-right: 10rem;
      }
    }
    
    &:nth-child(2) {
      padding-left: 8.5rem;
      display: flex;
      flex-direction: column;
    
      @media screen and (max-height: @screen-h-lg) {
        padding-left: 10rem;
        padding-right: 12rem;
      }
    }
  }
  
  &__way-picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
  }
  
  &__way-container {
    max-width: 50rem;
  }
  
  &__way-header {
    color: #fff;
    font-size: 5rem;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    margin-bottom: 2rem;
    letter-spacing: 1.1rem;
    
    @media screen and (max-height: @screen-h-md) {
      font-size: 3.5rem;
    }
  }
  
  &__way-content {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 3.5rem;
    position: relative;
    z-index: 1;
    
    @media screen and (max-height: @screen-h-md) {
      font-size: 2rem;
    }
  }
  
  &__link {
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12rem;
    padding-right: 14rem;
  }
  
  &__button {
    margin-top: 5rem;
    position: absolute;
    bottom: 3rem;
  }
  
  .fp-slidesNav {
    bottom: 17rem;
    
    ul {
      position: relative;
      left: -7rem;
    }
  }
}