mixin business(additionalClass)
  .business.section.section--distributed.section--slider(class=additionalClass)
    .section__top
      p.caption.reveal.reveal--4 в твоих интересах
      h2.title.business__title
        span.title__first.reveal.reveal--2 O
        span.title__content.reveal.reveal--3 wn Business
      p.subheader.reveal.reveal--4 Собственный бизнес на прочном фундаменте
    .section__bottom.business__bottom.reveal.reveal--4
      .slider
        .slide.business__ways-wrapper
          .business__way
            img.business__way-picture(src="../img/business-fail-1.jpg", alt="")
            .business__way-container
              h3.business__way-header свой бизнес?
              p.business__way-content Потолок активного дохода лимитирован вашими физическими возможностями. Чем больше вы работаете, тем меньше времени остается на жизнь.
          .business__way
            img.business__way-picture(src="../img/business-ok-1.jpg", alt="")
            .business__way-container
              h3.business__way-header Работа с Gloryon
              p.business__way-content Потолок активного дохода лимитирован вашими физическими возможностями. 
        .slide.business__ways-wrapper
          .business__way
            img.business__way-picture(src="../img/business-fail-2.jpg", alt="")
            .business__way-container
              h3.business__way-header работа в найме?
              p.business__way-content Потолок активного дохода лимитирован вашими физическими возможностями. Чем больше вы работаете, тем меньше времени остается на жизнь.
          .business__way
            img.business__way-picture(src="../img/business-ok-2.jpg", alt="")
            .business__way-container
              h3.business__way-header Работа с Gloryon
              p.business__way-content Потолок активного дохода лимитирован вашими физическими возможностями. 
        .slide.business__ways-wrapper
          .business__way
            img.business__way-picture(src="../img/business-fail-3.jpg", alt="")
            .business__way-container
              h3.business__way-header Работа на себя?
              p.business__way-content Потолок активного дохода лимитирован вашими физическими возможностями. Чем больше вы работаете, тем меньше времени остается на жизнь.
          .business__way
            img.business__way-picture(src="../img/business-ok-3.jpg", alt="")
            .business__way-container
              h3.business__way-header Работа с Gloryon
              p.business__way-content Потолок активного дохода лимитирован вашими физическими возможностями. 
      a.link.business__link.reveal.reveal--4(href="#") узнать больше
      a.button.button--join.business__button(href="#") Присоединиться