@color-first: #e31e24;

@color-second: #0e9d2c;

@font-first: 'Roboto', 'Arial', sans-serif;


@screen-xs:                   479px;
@screen-sm:                   767px;
@screen-md:                   1023px;
@screen-lg:                   1199px;


@screen-h-lg: 1000px;

@screen-h-md: 900px;