.auto {
  display: flex;
  flex-direction: column;
  background: #000;
  position: relative;
  
  &__video {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  &__content {
    padding: 9rem 0;
    background: url(../img/auto-bg.jpg) no-repeat;
    background-size: cover;
    flex: 1;
    width: 100%;
  }
  
  &__subheader {
    margin-top: 2rem;
    font-size: 3rem;
    color: #fff;
    font-weight: 300;
    text-align: center;
  }
}
