mixin auto(additionalClass)
  .auto.section.section--distributed(class=additionalClass)
    video.auto__video#auto__video(src="../img/auto.mp4", controls)
    .auto__content
      .section__top
        h2.title.title--white.title--grayscale Получи авто <br>в подарок
        p.auto__subheader Самые доступные условия в индустрии
    //.section__bottom
      a.link(href="#") узнать больше
      