.yield {
  background: url(../img/yield-bg.jpg) no-repeat center;
  background-size: cover;
  padding: 5rem 0 7rem;
  
  &__title {
    margin: 3.5rem 0 3rem;
  }
  
  &__bottom-caption {
    margin: 2rem 0 3rem;
  }
}
