mixin yield(additionalClass)
  .yield.section.section--distributed(class=additionalClass)
    .section__top
      p.caption.caption--white.reveal.reveal--4 в твоих интересах
      h2.title.title--white.yield__title
        span.title__first.reveal.reveal--2 Y
        span.title__content.reveal.reveal--3 ield
      p.subheader.subheader--white.reveal.reveal--4 Доход, обеспечивающий финансовую независимость
    .section__bottom.reveal.reveal--4
      h3.content-header.content-header--white В Gloryon одни из самых высоких <br>партнерских выплат в индустрии
      p.caption.caption--white.caption--bold.yield__bottom-caption за счет оптимизации бизнес-модели и отсутствию издержек
      a.link(href="#") узнать больше
      a.button.button--join(href="#") Присоединиться