.footer {
  height: 10.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #fff;
  width: 100%;
  color: #a4a4a4;
  font-size: 1.8rem;
  font-weight: 300;
}
