.life {
  position: relative;
  padding: 5rem 0 9rem;
  
  &__slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  &__content-top {
    position: relative;
    z-index: 1;
  }
  
  &__content-bottom {
    position: absolute;
    bottom: 9rem;
    z-index: 2;
    width: 100%;
  }
  
  &__title {
    margin: 3.5rem 0 3rem;
  }
  
  &__bottom-caption {
    margin: 2.5rem 0 3.4rem;
  }
  
  .fp-slidesNav {
    bottom: 42rem;
  }
}
