mixin life(additionalClass)
  .life.section.section--slider.section--distributed(class=additionalClass)
    .slider.life__slider.reveal.reveal--1
      .slide
        img.slider__bg(src="../img/life-bg-1.jpg", alt="")
        .section__bottom.life__content-bottom.reveal.reveal--4
          h3.content-header.content-header--white В Gloryon ты выбираешь то, чем тебе <br>нравится заниматься
          p.caption.caption--white.caption--bold.life__bottom-caption Жизнь по собственному сценарию, полная энергии
          a.link.fancybox(href="#modal-text") узнать больше
          a.button.button--join(href="#") Присоединиться
      .slide
        img.slider__bg(src="../img/life-bg-2.jpg", alt="")
        .section__bottom.life__content-bottom.reveal.reveal--4
          h3.content-header.content-header--white В Gloryon ты выбираешь то, чем тебе <br>нравится заниматься
          p.caption.caption--white.caption--bold.life__bottom-caption Жизнь по собственному сценарию, полная энергии
          a.link.fancybox(href="#modal-text") узнать больше
          a.button.button--join(href="#") Присоединиться
      .slide
        img.slider__bg(src="../img/life-bg-3.jpg", alt="")
        .section__bottom.life__content-bottom.reveal.reveal--4
          h3.content-header.content-header--white В Gloryon ты выбираешь то, чем тебе <br>нравится заниматься
          p.caption.caption--white.caption--bold.life__bottom-caption Жизнь по собственному сценарию, полная энергии
          a.link.fancybox(href="#modal-text") узнать больше
          a.button.button--join(href="#") Присоединиться
    .section__top.life__content-top
      p.caption.caption--white.reveal.reveal--4 в твоих интересах
      h2.title.title--white.life__title
        span.title__first.reveal.reveal--2 L
        span.title__content.reveal.reveal--3 ife
      p.subheader.subheader--white.reveal.reveal--4 Жизнь по собственному сценарию