.reveal {
  opacity: 0;
  transition: opacity .5s linear;
  
  &--1 {
    
  }
  
  &--2 {
    transition-delay: .25s;
  }
  
  &--3 {
    transition-delay: .5s;
  }
  
  &--4 {
    transition-delay: 1s;
  }
  
  &--visible {
    opacity: 1;
  }
}
