.link {
  color: @color-second;
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
    
  @media screen and (max-height: @screen-h-md) {
    font-size: 2rem;
  }
  
  &:after {
    content: '';
    display: block;
    width: .9rem;
    height: 1.6rem;
    background: url(../img/icon-arrow--green.svg) no-repeat;
    background-size: contain;
    margin-left: 2.7rem;
    position: absolute;
    right: -3.6rem;
    top: .4rem;
  }
  
  &:hover {
    text-decoration: none;
  }
}
