doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +apply
    +menu
    .content
      +front
      +guide
      +life
      +business
      +relationship
      +yield
      +auto
      +opportunities
      +network
      +contacts
    +modal--text
    +modal--form
    +modal--success
    include ../templates/scripts.pug