mixin relationship(additionalClass)
  .relationship.section.section--distributed.section--tall(class=additionalClass)
    .section__top
      p.caption.reveal.reveal--4 в твоих интересах
      h2.title.relationship__title
        span.title__first.reveal.reveal--2 R
        span.title__content.reveal.reveal--3 elationship
      p.subheader.reveal.reveal--4 Партнерство с надежной компанией
    +timeline('reveal reveal--4')
    .section__bottom.reveal.reveal--4
      h3.content-header Холдинг Gloryon 17 лет на рынке
      p.caption.caption--bold.relationship__bottom-caption и пережил несколько мировых экономических кризисов
      a.link(href="#") узнать больше
      a.button.button--join(href="#") Присоединиться