.relationship {
  padding: 8.5rem 0 7rem;
  background: #f4f4f4;
    
  @media screen and (max-height: @screen-h-lg) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
    
  @media screen and (max-width: 1700px) {
    padding-right: 14rem;
  }
  
  &__title {
    margin: 5rem 0 2.5rem;
  }
  
  &__bottom-caption {
    margin: 3.5rem 0;
  }
}
