.content-header {
  color: #222;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 4.4rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .5rem;

  @media screen and (max-height: @screen-h-md) {
    font-size: 2.8rem;
  }
  
  &--white {
    color: #fff;
  }
}
