mixin front(additionalClass)
  .front.section(class=additionalClass)
    video.front__video#front__video(poster="../img/front-bg.jpg", src="../img/gloryon.mp4", controls)
    .front__content
      +logo
      a.link.front__play(href="#") смотреть видео
      a.button.button--join.front__button(href="#guide") Узнать больше
    .front__mouse
      .front__mouse-icon
      .front__mouse-content скролльте вниз