.front {
  position: relative;
  
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .7);
    
    animation: reveal 1.5s linear;

    @keyframes reveal {

      0% {
        background: rgba(0, 0, 0, 1);
      }
      
      100% {
        background: rgba(0, 0, 0, .7);
      }
    }
  }
  
  &__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  &__content {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
    left: 0;
  }
  
  &__mouse {
    position: absolute;
    bottom: 5rem;
    width: 12rem;
    flex-direction: column;
    align-items: center;
    display: none;
    z-index: 999;
  }
  
  &__mouse-icon {
    width: 2.9rem;
    height: 4.4rem;
    bottom: 5rem;
    background: url(../img/mouse.svg) no-repeat;
    background-size: contain;
    margin: 0 auto;
  }
  
  &__mouse-content {
    font-size: 1.6rem;
    color: #000;
    margin-top: 2rem;
  }
  
  &__play {
    position: relative;
    z-index: 2;
  }
  
  &__button {
    
  }
}