mixin contacts(additionalClass)
  .contacts.section(class=additionalClass)
    .contacts__content
      form.form.contacts__form(action="#", method="POST")
        p.caption.caption--white.reveal.reveal--4 в твоих интересах
        h2.contacts__form-header.reveal.reveal--2 Оставить заявку
        p.subheader.subheader--white.contacts__subheader.reveal.reveal--3 и стать нашим партнером
        .form__item
          input.input.reveal.reveal--4(type="text", placeholder="Ваша фамилия")
        .form__item
          input.input.input--success.reveal.reveal--4(type="text", placeholder="Ваше имя", value="Николай")
        .form__item
          input.input.input--error.reveal.reveal--4(type="text", placeholder="Электронная почта")
          label.form__error Поле не заполнено!
        .form__item
          input.input.reveal.reveal--4(type="text", placeholder="+7 ___-___-__-__")
        .form__item
          input.input.reveal.reveal--4(type="text", placeholder="Город проживания")
        button.form__button.reveal.reveal--4 Отправить
      +guide-content('contacts__guide-content reveal reveal--4')
    +footer