.contacts {
  background: @color-second;
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    
  @media screen and (max-height: @screen-h-lg) {
    padding-top: 5rem;
  }
    
  @media screen and (max-height: @screen-h-md) {
    padding-top: 3rem;
  }
  
  &__content {
    display: flex;
    justify-content: center;
  }
  
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 19rem;
  }
  
  &__form-header {
    margin: 4rem 0 5rem;
    color: #fff;
    font-size: 7rem;
    font-weight: 300;
    line-height: 8.4rem;
    text-transform: uppercase;
    
    @media screen and (max-height: @screen-h-lg) {
      margin: 2rem 0;
      line-height: normal;
    }
    
    @media screen and (max-height: @screen-h-md) {
      font-size: 5rem;
    }
  }
  
  &__subheader {
    margin-bottom: 6.5rem;
    
    @media screen and (max-height: @screen-h-lg) {
      margin-bottom: 3rem;
    }
  }
  
  &__guide-content {
    width: 48rem;
    
    .guide-content__media {
      position: relative;
    
      @media screen and (max-height: @screen-h-lg) {
        display: none;
      }
    }
    
    .guide-content__photo {
      max-height: 41rem;
      width: 100%;
      background-size: cover;
    }
    
    .guide-content__video {
      position: absolute;
      bottom: -3rem;
      z-index: 2;
      left: 50%;
      transform: translateX(-50%);
      margin-left: 0;
      width: 32rem;
      height: 18.6rem;
    }
    
    .guide-content__contacts {
      padding: 5rem 4rem 4rem;
      width: 100%;
    }
  }
  
  .fp-scrollable {
    height: 100%!important;
  }
  
  .fp-scroller {
    height: 100%;
    transform: none!important;
  }
}