mixin network(additionalClass)
  .network.section.section--distributed(class=additionalClass)
    .section__top
      p.caption.caption--white.reveal.reveal--4 в твоих интересах
      h2.title.title--white.network__title
        span.title__first.reveal.reveal--2 N
        span.title__content.reveal.reveal--3 etwork
      p.subheader.subheader--white.reveal.reveal--4 Сеть – уникальная модель на стыке сетевой и интернет индустрии
    .section__bottom.reveal.reveal--4
      h3.content-header.content-header--white Мы живем в эпоху сетевых процессов
      p.caption.caption--white.network__caption-bottom мы покупаем продукты питания, косметику, лекарства в сетевых магазинах – являемся участниками сетевого процесса.
      a.link.fancybox(href="#modal-success") узнать больше
      a.button.button--join(href="#") Присоединиться