.network {
  padding: 8rem 0 6rem;
  background: url(../img/network-bg.jpg) no-repeat;
  background-size: cover;
  
  &__title {
    margin: 3.2rem 0 3rem;
  }
  
  &__caption-bottom {
    margin: 3.8rem 0 3.5rem;
  }
}
