mixin guide-content(additionalClass)
  .guide-content(class=additionalClass)
    .guide-content__media
      .guide-content__photo
      a.guide-content__video(href="#")
    .guide-content__contacts
      p.guide-content__name Константин Константинопольский
      p.guide-content__phone 7 (900) 222-22-22
      a.guide-content__email(href="#") mailto@mail.ru
      p.guide-content__info Доход более 2 млн.руб./мес. <br>Распределяю регионы. <br>Доведу до дохода 2 млн.руб./мес.
      +socials('guide-content__socials')
      a.link.fancybox(href="#modal-form") следуй за мной