.guide-content {
  
  &__media {
    display: flex;
    justify-content: center;
  }
  
  &__photo {
    background: url(../img/guide.jpg) no-repeat;
    background-size: contain;
    width: 80rem;
    height: 57.4rem;
    
    @media screen and (max-height: @screen-h-lg) {
      width: 50rem;
      height: 40rem;
    }
  }
  
  &__video {
    display: block;
    width: 51.2rem;
    height: 28.8rem;
    background: url(../img/video-bg.jpg) no-repeat;
    background-size: contain;
    margin-left: -13.2rem;
    margin-top: 5rem;
    position: relative;
    
    @media screen and (max-height: @screen-h-lg) {
      width: 40rem;
      height: 20rem;
    }
    
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: url(../img/icon-play.svg) no-repeat center;
    }
  }
  
  &__contacts {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 10rem 3.5rem;
    width: 58rem;
    position: relative;
    z-index: 1;
    margin: 0 auto;
  }
  
  &__name {
    color: #222;
    font-size: 3.3rem;
    font-weight: 500;
    line-height: 3.7rem;
    text-align: center;
    
    @media screen and (max-height: @screen-h-md) {
      font-size: 2.8rem;
    }
  }
  
  &__phone {
    color: #222;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 3.7rem;
  }
  
  &__email {
    color: #222;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 3.7rem;
  
    &:hover {
      text-decoration: none;
    }
  }
  
  &__info {
    color: #222;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.6rem;
    text-align: center;
    margin-top: 2rem;
    
    @media screen and (max-height: @screen-h-md) {
      font-size: 1.6rem;
    }
  }
  
  &__socials {
    margin: 2.4rem 0;
  }
}