mixin menu(additionalClass)
  ul.menu.menu--hidden(class=additionalClass)
    li.menu__item(data-menuanchor="guide")
      a.menu__link(href="#guide") G
        span.menu__link-name Guide
    li.menu__item(data-menuanchor="life")
      a.menu__link(href="#life") L
        span.menu__link-name Life
    li.menu__item(data-menuanchor="business")
      a.menu__link(href="#business") O
        span.menu__link-name Own Business
    li.menu__item(data-menuanchor="relationship")
      a.menu__link(href="#relationship") R
        span.menu__link-name Relationship
    li.menu__item(data-menuanchor="yield")
      a.menu__link(href="#yield") Y
        span.menu__link-name Yield
    li.menu__item(data-menuanchor="opportunities")
      a.menu__link(href="#opportunities") O
        span.menu__link-name opportunities
    li.menu__item(data-menuanchor="network")
      a.menu__link(href="#network") N
        span.menu__link-name network