.menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 14rem;
  background: #fff;
  z-index: 2;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  &__item {
    display: flex;
    height: 10rem;
    
    &:hover {
      
      .menu__link {
        color: @color-first;
      }
      
      .menu__link-name {
        opacity: 1;
      }
    }
    
    &.active {
      
      .menu__link {
        background: @color-first;
        color: #fff;
        font-size: 9rem;
      }
    }
  }
  
  &__link {
    text-decoration: none;
    font-style: italic;
    font-size: 7rem;
    font-weight: 700;
    color: @color-second;
    .transition;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    text-indent: -1rem;
    .transition;
  }
  
  &__link-name {
    color: @color-first;
    font-size: 1.2rem;
    font-weight: 500;
    display: block;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-style: normal;
    opacity: 0;
    .transition;
  }
  
  &--hidden {
    display: none;
  }
}
