.form {
  
  &__button {
    margin-top: 2.3rem;
    border-radius: 3.2rem;
    width: 27.8rem;
    height: 6.6rem;
    border: .3rem solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    .transition;
    
    &:hover {
      background: #fff;
      color: @color-second;
      
      &:after {
        background: url(../img/icon-arrow--green.svg) no-repeat;
        background-size: contain;
      }
    }
    
    &:after {
      content: '';
      display: block;
      width: .9rem;
      height: 1.6rem;
      background: url(../img/icon-arrow--white.svg) no-repeat;
      background-size: contain;
      margin-left: 1.7rem;
    }
    
    @media screen and (max-height: @screen-h-md) {
      margin-top: 0;
      height: 4rem;
      font-size: 1.8rem;
      width: 22rem;
    }
    
    &--green {
      border-color: @color-second;
      color: @color-second;
      
      &:after {
        background: url(../img/icon-arrow--green.svg) no-repeat;
        background-size: contain;
      }
    }
    
    &--inactive {
      opacity: .3!important;
    }
  }
  
  &__item {
    position: relative;
    padding-bottom: 3rem;
  }
  
  &__error {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    position: absolute;
    bottom: .8rem;
    left: 2rem;
    z-index: 5;
    
    &--black {
      color: #222;
    }
  }
}