mixin apply(additionalClass)
  .apply(class=additionalClass)
    span.apply__content Это пример вашего бизнес-сайта.
      a.apply__button(href="#") Перейдите в настройки
      |&nbsp;чтобы активировать бизнес-сайт.