.apply {
  background: #BDBDBD;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  position: fixed;
  
  &__content {
    color: #fff;
    font-size: 2rem;
    text-align: center;
  }
  
  &__button {
    color: #fff;
    margin-left: .5rem;
  }
}
